*{
    padding: 0;
    margin: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}



.settings{
    /* border: 3px solid red; */
    /* position: relative; */
    /* left: auto; */
    /* display: block; */
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 10px;
}

/*数据输入框*/
.settings-number{
    display: inline-block;
    border: 2px solid rgb(37, 162, 190);
    border-radius:25px;
    /* padding-left: 8px; */
    padding-right: 8px;
    background-color:  rgb(37, 162, 190);
    color:aliceblue;
    margin-bottom: 10px;
    margin-top: -5px;
    height: 25px;
    
}


.settings-number-input{
    border-radius:25px;
    padding: 0 10px;
    width: 40px;
    border: 0px solid rgb(37, 162, 190);
    outline: medium;
    text-align: center;
    height: 25px;
    
}


.settings-number-refresh{
    background-color:  rgb(37, 162, 190);
    color:aliceblue;
    border: 0px;
    
}

.settings-number-refresh:hover{
    cursor: pointer;
}

/* 开关按钮 */
.btn-on{
    width: 60px;
    height: 25px;
    margin: 3px 3px;
    border-radius: 25px;
    font-size: 14px;
    display: inline-block;
    margin-top: -11px;
}

.btn-on{
    cursor: pointer;
    position: relative;
    border: 1px solid white;
    background-color: #12B090;
}

.btn-on-circle{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    transition: all .5s;
}

.btn-on-text{
    position: absolute;
    right: 10px;
    line-height: 25px;
    color: white;
    transition: all .5s;
}

.display-field{
    border-top: 1px solid #64b012;
    border-bottom: 1px solid #64b012;
    background-color:#64b012 ;
    border-radius: 100px;
    height: 600px;
    line-height: 600px;
    /* padding-top: 10%; */

}

.display-field-node-box{
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    top:30%;
}

.node{
    display: inline-block;
    border: 0px solid #8d150f;
    border-radius: 10.5px;
    width: 180px;
    height: 180px;
    font-size: 70px;
    text-align: center;
    line-height: 100px;
    background-color: rgb(231, 80, 122);
    color: aliceblue;
    margin: 1px 10px;

}

.node:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(119, 7, 35);
    
}